<div class="container">
    <p>GCB-creator es una interfaz gráfica interactiva que permite crear <b><i>Actividades</i></b> y <b><i>Exámenes</i></b> para el sistema de creación de MOOC's Google Course Builder.</p>
    <p>Ha sido desarrollado por el equipo de <b>Domofera</b>:</p>
    <div class="row team">
       <header class="row">
           <h3>Equipo de </h3> <img src="images/domofera.jpg" alt="Domofera">
       </header>
       
        <div class="row">
            <div class="col-sm-6">
                <div class="col-md-6 member">
                    <img src="images/alex.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Alex Jover Morales</b>
                    <i>Desarrollador Front-end</i>
                    <p>Desarrollador y diseñador web. Amante de las últimas tecnologías y de las buenas prácticas de desarrollo. Puedes visitar sus proyectos en su web <a href="http://codigoalternativo.com/">Codigo Alternativo</a>.</p>
                    <div class="brand-icons center-block">
                        <a href="https://twitter.com/alexjoverm" class="fa fa-twitter" target="_blank"></a>
                        <a href="https://www.facebook.com/alex.jovermorales" class="fa fa-facebook" target="_blank"></a>
                        <a href="https://plus.google.com/u/0/106756912070996900741" class="fa fa-google-plus" target="_blank"></a>
                        <a href="https://github.com/alexjoverm" class="fa fa-github" target="_blank"></a>
                    </div>
                </div>
                
                <div class="col-md-6 member">
                    <img src="images/elena.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Elena Torró</b>
                    <i>Desarrollador Back-end</i>
                    <p>Programadora y diseñadora web. Especializada en diseño centrado en el usuario, diseño de la interacción y metodologías de desarrollo ágil.</p>
                    <div class="brand-icons center-block">
                        <a href="http://twitter.com/@Elenarcolepsia" class="fa fa-twitter" target="_blank"></a>
                        <a href="https://www.linkedin.com/in/elenatorro" class="fa fa-linkedin" target="_blank"></a>
                        <a href="http://github.com/elenatorro" class="fa fa-github" target="_blank"></a>
                        <a href="http://elenatorro.com" class="fa fa-cloud" target="_blank"></a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="col-md-6 member">
                    <img src="images/lau.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>Laura Bonmati</b>
                    <i>Gestora de proyecto y e-marketing</i>
                    <p>Emprendedora, valiente y entusiasta. Convencida de que el trabajo en equipo es la clave del éxito.</p>
                    <div class="brand-icons center-block">
                        <a href="https://twitter.com/LauraBonmati" class="fa fa-twitter" target="_blank"></a>
                        <a href="https://www.facebook.com/laura.bonmatimendoza" class="fa fa-facebook" target="_blank"></a>
                        <a href="https://www.linkedin.com/pub/laura-bonmati-mendoza/92/14b/5aa" class="fa fa-linkedin" target="_blank"></a>
                        <a href="https://github.com/Laurabm" class="fa fa-github" target="_blank"></a>
                    </div>
                </div>
                
                <div class="col-md-6 member">
                    <img src="images/canyi.jpg" alt="" class="img-circle img-responsive img-con-bordes center-block">
                    <b>J. Cañizares</b>
                    <i>Diseñador y Post-productor</i>
                    <p>Un chico multiusos, creativo, emocionado con la innovación y la tecnología. Me gustan los grandes retos. Feliz con lo que hago.</p>
                    <div class="brand-icons center-block">
                        <a href="https://twitter.com/JCcanizares" class="fa fa-twitter" target="_blank"></a>
                        <a href="https://www.facebook.com/juancarlos.canizaresgonzalez" class="fa fa-facebook" target="_blank"></a>
                        <a href="https://plus.google.com/u/0/104486831865255020144" class="fa fa-google-plus" target="_blank"></a>
                        <a href="https://github.com/JCcanizares" class="fa fa-github" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
