<div class="container">

<!-- *****  CONTENIDO  ***** -->
    <div class="col-sm-9 instrucciones-container">
        <h2 id="Generales">Generales</h2>
        
        <div class="well">
            <p>Si Google Course Builder no corrige las preguntas de texto libre, hacer los siguientes cambios:</p>
            
            <p>En <i>assets/lib/activity-generic-1.3.js</i>:</p>
            <ul>
                <li><b>Linea 414:</b> Sustituir lo que hay por <b>"<i>var correctAnswerRegex = params.correctAnswerString;</i>"</b></li>
                <li><b>Linea 466:</b> Sustituir  por <b>"<i>var isCorrect = (correctAnswerRegex == textValue);</i>"</b></li>
            </ul>
            
        </div>
        
        <h3 id="Ficheros">Ficheros</h3>
        <p><b>GCB creator</b> implementa varios algoritmos para la comprobación de los ficheros que se suben y/o abren. Si estos ficheros son creados desde la aplicación, no hay problema. Pero sino, la aplicación debería informarte de errores de sintaxis, o de nombre de ficheros.</p>
        <p>Aún así, por cuestiones de seguridad, sigue estos consejos: </p>
        <ul>
            <li>No nombres los ficheros con símbolos o acentos (sí que se permiten - ó _).</li>
            <li>Revisa bien los ficheros de actividades o exámenes si los has creado a mano. Puede que la aplicación no detecte algún error que no se ha comprobado hasta ahora.</li>
        </ul>
        
        <h3 id="Toolbar">Toolbar</h3>
        <p>El toolbar es la barra de herramientas superior que podemos encontrar en las páginas de Actividad y Examen</p>
        <p><img style="width: 350px;" src="images/Inst_01.jpg" alt="Toolbar"></p>
        <p>Hay dos grupos de botones:</p>
        <ul>
            <li><b>Generales:</b> En este orden, la funcionalidad es Borrar preguntas, Descargar fichero, Subir fichero, Colapsar preguntas.</li>
            <li><b>Creadores:</b> Sirven para crear algún tipo de pregunta. Estos botones también se pueden encontrar pulsando en el espacio entre preguntas</li>
        </ul>
        
        <h3 id="Ordenar">Ordenar</h3>
        <p>Se pueden ordenar las preguntas, arrastrandolas y soltandolas en el hueco que se quiera. Para ello, hay que pulsar sobre la parte izquierda del recuadro de la pregunta.</p>
        <p><img src="images/Inst_02.jpg" alt="Ordenar"></p>
        <p>Para ordenar en algunos dispositivos táctiles, como un iPad, se debe hacer click primero para seleccionar la pregunta. Entonces ya se podrá arrastrar.</p>
        <p><img src="images/Inst_03.jpg" alt="Ordenar seleccionado"></p>
        <p>Para mejorar la usabilidad de la aplicación, se permite insertar las preguntas en una posicion concreta, pulsando sobre el símbolo de <i class="fa fa-plus"></i> situado entre los bloques de preguntas.</p>
        <p><img src="images/Inst_07.jpg" alt="Añadir pregunta"></p>
        
        <h3 id="Editar">Editar</h3>
        <p>Hay campos que requieren de mucho texto, para los que se proveen un botón de editar, que abre un editor más grande donde se puede editar de forma más cómoda. Además de que se puede ampliar la altura de esos campos hasta cierto límite, ya que algunos no requerirán tanto texto.</p>
        <p>Además, hay campos que pueden ser de <b>texto con formato</b>. Estos se distinguen fácilmente, ya que cuando se abre el editor completo, aparecerá una barra de herramientas de formato</p>
        <p><img src="images/Inst_04.jpg" alt="Editor"></p>
        <p>Para los de <b>texto sin formato</b>, no aparecerá la barra de herramientas</p>
        
        <h3 id="Auto-guardado">Auto-guardado</h3>
        <p>La aplicación guarda automáticamente cualquier cambio que hagas. De hecho, cuando habras la página para editar, te aparecerá un mensaje que te informará de que hay una versión guardada, por si quieres continuarla</p>
        
        <h3 id="Titulo">Titulo</h3>
        <p>Es importante poner un título correcto, ya que sino no podremos descargar el fichero. Para ello, prestar atención al formato que indica el campo cuando está vacío. Además aparecerán mensajes de validación una vez pulsemos el botón de descargar.</p>
        <p>Aquí se puede comprobar la diferencia entre un título incorrecto y uno correcto</p>
        <div class="row"><img class="col-sm-6" src="images/Inst_05.jpg" alt="Titulo incorrecto"><img class="col-sm-6" src="images/Inst_06.jpg" alt="Titulo correcto"></div>
        
        
        
        <h2 id="Actividad">Actividad</h2>
        <p>En una actividad, puedes elegir entre 3 tipos de preguntas, además de poder incluir texto con formato (HTML) entre preguntas. Todas las preguntas tienen un campo de <b>Pregunta</b>, por lo que se omitirá su mención posteriormente.</p>
        <h3 id="HTML">HTML</h3>
        <p>Este no es una pregunta, y por lo tanto no se evalúa como tal. Simplemente es texto con formato que puede ir entre preguntas</p>
        <h3 id="Texto-libre">Texto libre</h3>
        <p>Pregunta de texto libre. Los campos que la forman son:</p>
        <ul>
            <li><b>Respuesta:</b> es dada en formato de texto, no sensible a mayúsculas/minúsculas.</li>
            <li><b>Feedback correcto:</b> texto que se muestra cuando se acierta la pregunta</li>
            <li><b>Feedback incorrecto:</b> texto que se muestra cuando no se acierta</li>
        </ul>
        
        <h3 id="Multiple-eleccion">Multiple elección</h3>
        <p>Pregunta donde se pueden añadir un máximo de 6 respuestas seleccionables. Más de 1 puede ser correcta.</p>
        <p>Los campos que la forman son:</p>
        <ul>
            <li><b>Respuesta:</b> texto de la respuesta.</li>
            <li><b>Feedback:</b> para esa respuesta específica.</li>
            <li>Se mostrarán botones para marcar seleccionada, quitar y añadir respuesta.</li>
        </ul>
        <h3 id="Grupo-multiple">Grupo multiple</h3>
        <p>Este caso es un conjunto de preguntas de las anteriores mencionadas, con alguna variación. En este caso el feedback es para todas las preguntas en general, y se pueden seleccionar cuántas preguntas debe contestar bien como mínimo, para que se considere correcta.</p>
        <p>Los campos que la forman son:</p>
        <ul>
            <li><b>Feedback correcto:</b> se muestra cuando se superan el mínimo número de respuestas correctas.</li>
            <li><b>Feedback incorrecto:</b> se muestra cuando no se superan el mínimo número de respuestas correctas.</li>
            <li><b>Lista de preguntas:</b> cada pregunta tiene sus propios campos. Además tiene <i>multi-seleccionable</i>, que permite que se pueda seleccionar más de una respuesta correcta.</li>
        </ul>
        
        
        <h2 id="Examen">Examen</h2>
        <p>El modelo de examen es muy parecido al de actividad, con ligeros contrastes. Los tipos de preguntas son 3, y son similares.</p>
        <p>Un examen tiene los siguientes campos:</p>
        <ul>
            <li><b>Preámbulo:</b> es como el enunciado que introduce el examen.</li>
            <li><b>Autocorregir:</b> si se marca, permitirá al alumno ver si las respuestas son correctas.</li>
            <li><b>Lista de preguntas:</b> tienen el campo de <i>pregunta</i>, y la de <i>unidad-lección</i> a la que pertenece. El formato de este último debe ser "número.número", tal como <i>9.3</i>. Además de estos dos campos, cada pregunta tiene el suyo propio de respuesta.</li>
        </ul>
        
        <h3 id="Numerica">Numérica</h3>
        <p>La respuesta debe ser numérica, permitiendo decimales separados por un punto.</p>
        <p><img src="images/Inst_09.jpg" alt="Numerica"></p>
        <h3 id="Texto-libre-2">Texto libre</h3>
        <p>Respuesta textual, sin diferenciar entre mayúsculas y minúsculas.</p>
        <p><img src="images/Inst_08.jpg" alt="Texto libre"></p>
        <h3 id="Multiple-eleccion-2">Multiple elección</h3>
        <p>En este caso se pueden añadir varias respuestas, de la que se seleccionará una correcta.</p>
        <p><img src="images/Inst_10.jpg" alt="Multiple choice"></p>
        
        <div style="height: 300px"></div>
        
    </div>
    
    
    
<!-- *****  AFFIX  ***** -->
    <div class="col-sm-3">
        <div id="my-affix" bs-affix data-offset-top="70" role="complementary">
            <ul class="nav">
                <li data-target="#Generales" bs-scrollspy>
                    <a href="" ng-click="scrollTo('Generales')">Generales</a>
                    <ul class="nav">
                       <li data-target="#Ficheros" bs-scrollspy><a href="" ng-click="scrollTo('Ficheros')">Ficheros</a></li>
                        <li data-target="#Toolbar" bs-scrollspy><a href="" ng-click="scrollTo('Toolbar')">Toolbar</a></li>
                        <li data-target="#Ordenar" bs-scrollspy><a href="" ng-click="scrollTo('Ordenar')">Ordenar</a></li>
                        <li data-target="#Editar" bs-scrollspy><a href="" ng-click="scrollTo('Editar')">Editar</a></li>
                        <li data-target="#Auto-guardado" bs-scrollspy><a href="" ng-click="scrollTo('Auto-guardado')">Auto-guardado</a></li>
                        <li data-target="#Titulo" bs-scrollspy><a href="" ng-click="scrollTo('Titulo')">Titulo</a></li>
                    </ul>
                </li>
                <li data-target="#Actividad" bs-scrollspy>
                    <a href="" ng-click="scrollTo('Actividad')">Actividad</a>
                    <ul class="nav">
                        <li data-target="#HTML" bs-scrollspy><a href="" ng-click="scrollTo('HTML')">HTML</a></li>
                        <li data-target="#Texto-libre" bs-scrollspy><a href="" ng-click="scrollTo('Texto-libre')">Texto libre</a></li>
                        <li data-target="#Multiple-eleccion" bs-scrollspy><a href="" ng-click="scrollTo('Multiple-eleccion')">Multiple elección</a></li>
                        <li data-target="#Grupo-multiple" bs-scrollspy><a href="" ng-click="scrollTo('Grupo-multiple')">Grupo multiple</a></li>
                    </ul>
                </li>
                <li data-target="#Examen" bs-scrollspy>
                    <a href="" ng-click="scrollTo('Examen')">Examen</a>
                    <ul class="nav">
                        <li data-target="#Numerica" bs-scrollspy><a href="" ng-click="scrollTo('Numerica')">Numérica</a></li>
                        <li data-target="#Texto-libre-2" bs-scrollspy><a href="" ng-click="scrollTo('Texto-libre-2')">Texto libre</a></li>
                        <li data-target="#Multiple-eleccion-2" bs-scrollspy><a href="" ng-click="scrollTo('Multiple-eleccion-2')">Multiple elección</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>